extends ../../layouts/default.pug 

block main 
    
    h1(class="mb-4") #{pageTitle}
    if(role.title)
        div(class="mb-4") Chủ đề: <b>#{role.title}</b>
    if(role.description)
        div(class="mb-4") Mô tả: <b>!{role.description}</b>
    
    
    
    a(
        href=`${prefixAdmin}/roles/edit/${role.id}`
        class="btn btn-warning btn-sm",
    ) Chỉnh sửa